<!DOCTYPE ejs>
<html>
<head>
<meta charset="utf-8">
<title>Guestbook</title>
<meta charset="utf-8"><meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="/gbapps.css">
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body id="body1">
<header>
   
 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">Devalla Vamsi</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li ><a href="http://127.0.0.1:8081/Home.html">Home</a></li>
        <li><a href="http://127.0.0.1:8081/Calculate.html">Calulate BMI</a></li> 
        <li><a href="http://127.0.0.1:8081/ContactUs.html">Contact Us</a></li> 
        <li class="active"><a href="http://127.0.0.1:8081/views/index.ejs">guestbook</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li> <a href="https://www.facebook.com/devallavamsi" target="-blank"><span ><img src="../fb.png" alt="facebook Social Link"></span></a></li>
        <li> <a href="https://www.linkedin.com/in/vamsi-devalla-236b1544?trk=hp-identity-name" target="-blank"><span ><img src="../linkedin.png" alt="Linkedin Social Link"></span></a></li>
        <li> <a href="https://github.com/DevallaVamsi" target="-blank"><span ><img src="../GitHub-Mark.png" alt="GitHub Social Link"></span></a></li>
        <li> <a href="https://bitbucket.org/DevallaVamsi/" target="-blank"><span ><img src="../BB-Mark.png" alt="bitbucket Social Link"></span></a></li>
      </ul>
    </div>
  </div>
</nav>
</header>
<br><br><br><br>
<h1>
Devalla's Guestbook
<a href="http://127.0.0.1:8081/views/new-entry" class="btn btn-info pull-right">
Write in the guestbook
</a>
</h1>